/* ---------------------------------------------------------------------- */
/* STANDART SETTINGS */
/* ---------------------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #00112c;
  font-family: "Fakt",sans-serif,Helvetica,Arial; /* the Fakt that this is not a free font make my website less similar */
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.standartWidth{
  padding-right: 21px;
  padding-left: 16px;
  max-width: 1248px;
  max-height: 720px;
  margin: auto;
}
.text-left {
  text-align: left !important;
}
.padding-top-24{
  padding-top: 24px;
}



h1{
  font-size: 62px;
  letter-spacing: -0.015em;
  font-weight: 600;
  line-height: 78px;
  
}
p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
video{
  width: 100%;
  object-fit: contain;
  display: block;
}

/* ---------------------------------------------------------------------- */
/* NAVBAR */
/* ---------------------------------------------------------------------- */
nav{ 
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #00112c;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 5px;
  letter-spacing: 0.1px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav li{
  border-top: 4px solid transparent;
}
nav .rightUl li{
 padding-left: 24px;
}
nav .leftUl li{
  padding-right: 24px;
 }
 nav li span img{
  margin-left: 5px;
}
nav .logo{
  width: 90px;
  height: 30px;
  margin-top: 7px;
}
nav .search{
  width: 16px;
  margin-top: 7px;
}
nav button{
  color: #fff;
    background-color: #0abf53;
    border-color: #0abf53;
    border: 1px solid transparent;
    font-size: 1rem;
    
    line-height: 16px;
    font-weight: 600;
    text-decoration: none;

    cursor: pointer;
    padding: 12px 24px;
    margin: 12px 12px 12px 0;
    
    transition: all .2s ease-in-out;
  
    border-radius: 6px;
}

/* ---------------------------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------------------------- */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  padding-top: 3px;
  letter-spacing: 1.5px;
}
header .leftBox{
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
header .rightBox{
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
}
header button{
  color: #fff;
    background-color: #0abf53;
    border-color: #0abf53;
    border: 1px solid transparent;
    font-size: 1rem;
    
    line-height: 16px;
    font-weight: 600;
    text-decoration: none;

    cursor: pointer;
    padding: 12px 24px;
    margin: 12px 12px 12px 0;
    
    transition: all .2s ease-in-out;
  
    border-radius: 6px;
}
header button:hover{
    background-color: #109143;